body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #01ffcc0a;
    color: #333;
    line-height: 1.6;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    /* line-height: 25px; */
}


.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    border-radius: 20px;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border-bottom: 2px solid #333; */
    padding-bottom: 10px;

    /* border: 1px solid red; */
    background-image: url('./img-header.webp');
    background-repeat:no-repeat;
    background-size: cover;

    border-radius: 2rem;
    padding: 5px;
}


.head-left {
    text-align: center;
}

.head-right {
    text-align: end;

}

.header .photo {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border: 2px solid #333;
    border-radius: 50%;
}

.header .info {
    flex: 1;
    margin-left: 20px;
}

.header .info h1 {
    margin: 0;
    font-size: 24px;
}

.header .info p {
    margin: 5px 0;
}

.section-bottoms {
    /* background-image: url('./img-header.webp'); */
    background: #cbc0c057;
    border-radius: 2rem;
    /* padding: 5px; */
    overflow: hidden;
    padding-top: 0;
    
}

.edu {
    /* border: 1px solid red; */
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
}

.edu i {
    font-weight: 600;
}

.edu-right p {
    font-size: 13px;
}


.pro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-cap{
    /* border: 2px solid rgb(2, 2, 27); */
    border-bottom: 2px solid rgb(2, 2, 27);
    

}


.pro-details{
    font-size: 14px;
    line-height: 18px;
}
.pro-right i{
    font-size: 12.5px;
    font-weight: 600;
}


.por-head{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    
    justify-content: space-between;
}
.section {
    margin: 20px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.section h2 {
    background-color: #333333de;
    color: #fff;
    /* color: rgb(0, 213, 255); */
    /* color: ; */
    /* padding: 10px; */
    margin: 0 -10px;
    margin-bottom: 10px;
    text-align: center;
}



.section ul {
    list-style: disc;
    padding: 10px;



}

.section ul li {
    margin: 6px 0;
}

.section ul li span {
    font-weight: bold;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .header {

        justify-content: center;

    }

    .head {
        width: 70%;
        /* border: 1px solid green; */

    }

    .head-right {
        text-align: start;
        /* border: 2px solid blue; */
    }

}